.cluster-status {
    box-sizing: border-box;
    padding: 10px 15px;

    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.cluster-status__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cluster-status__title {
    margin: 0;
    margin-bottom: 5px;

    font-size: 12px;
    color: #A0AEC0;
}

.cluster-status__text {
    margin: 0;

    font-weight: 600;
    font-size: 12px;
}
