.groups {
    flex-grow: 1;
    box-sizing: border-box;

    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}


.groups__title {
    margin: 0;
    margin-bottom: 15px;

    font-size: 12px;
    color: #A0AEC0;
}

.groups__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 350px); 

    margin: 0;
    padding: 0;

    list-style: none;

    overflow-y: auto;
}

.groups__item {
    font-size: 16px;
    color: #718096;

    border-radius: 15px;
    background-color: #F8F9FA;

    transition: background-color linear 0.1s;
}

.groups__wrapper {
    padding: 20px 10px;
}

.groups__item button {
    padding: 0;
    width: 100%;

    font: inherit;
    text-align: left;
    color: inherit;

    border: none;
    background-color: transparent;
}

.groups__item:hover,
.groups__item:active,
.groups__item--active {
    color: #000000;
    background-color: #CECECE;
} 

.groups__name {
    margin: 0;

    font-weight: 600;
    font-size: 12px;
}

.groups__subtitle {
    margin: 0;

    font-size: 12px;
    color: #718096;
}
